body{
    margin: 0;
    padding: 0;
    background-color:#e4c3bd;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    text-align: center;
    font-size: 50px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f0dcd8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
    margin-right: 50px;
}

label {
    font-size: 26px;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 8px;
    width: 200px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    text-align: center;
    font-size: 25px;
}



button:hover {
    background-color: #0056b3;
}